/* to use the google fonts
font-family: 'Permanent Marker', cursive;
font-family: 'Cabin', sans-serif; */

/* COLOR SCHEME https://colorhunt.co/palette/142663 */

/* TAG SELECTORS */

body {
  color: #385170;
  font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #142d4c;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
}

h3 {
  text-align: center;
  margin-bottom: 5%;
  font-size: 3rem;
}

h4 {
  text-align: center;
  margin: 5% 0;
  font-size: 1.5rem;
}

h5 {
  text-align: center;
}

p, li {
  text-align: left;
}

hr {
  border-color: grey;
  border-style: dotted none none;
  border-top-width: 5px;
  width: 15%;
}

/* CLASS SELECTORS */

/* Sections */
.container-fluid {
  padding: 5% 7%;
}

.colored-section1 {
  background-color: #9fd3c7;
}

.colored-section2 {
  background-color: #ececec;
}

.bg {
  background-image: url("images/JamieSiteImages/IMG_2005CroppedBW.JPG");
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Navbar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
  color: #142d4c;
}

.nav-link {
  color: #142d4c;
}

.custom-toggler.navbar-toggler {
    border-color:  #142d4c;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(20,45,76)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Title section */
.title-text {
  padding-bottom: 140px;
}

.handwriting-intro {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
}


/* About Me Section */
.about-me-img {
  border-radius: 20%;
}

.helper { /* This aligns the image vertically */
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.img-fluid.about-me-img {
  max-width: 90%;
}

/* Treatment Section */
ul.treatments-list {
  columns: 3;
  column-gap: 60px;

}

.carousel {
  padding-top: 30px;
}

@media (max-width: 991px) {
  .carousel {
    padding-top: 10px;
    padding-left: 15%;
    padding-right: 15%;
  }
  ul.treatments-list {
    column-gap: 30px;
  }
}

/* Offering Section */
.offering-box {
  text-align: center;
}

.pricing {
  padding-left: 40px;
}

@media (max-width: 767px) {
  .offering-box {
    padding-top: 5%;
  }

  ul.offering-list, .pricing {
    padding-left: 20%;
    padding-right: 20%;
  }

}

/* When and Where Section */
.map-area {
  background-color: black;
}

.open-hours {
  margin-top: 15px;
}

.open-hours:first-child {
    margin-top:0;
}
