/* google fonts:
font-family: 'Permanent Marker', cursive;
font-family: 'Cabin', sans-serif; */
/* COLOR SCHEME https://colorhunt.co/palette/142663 and this one: https://colorhunt.co/palette/143259 */

/* TAG SELECTORS */
body {
  color: #385170;
  font-family: 'Oxygen', sans-serif;
}

footer {
  background-color: Silver;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #142d4c;
  font-family: 'Playfair Display', serif;
  word-wrap: break-word;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
}

h3 {
  text-align: center;
  margin-bottom: 5%;
  font-size: 3rem;
}

h4 {
  text-align: center;
  margin: 5% 0;
  font-size: 1.5rem;
}

h5 {
  text-align: center;
}

p, li, a {
  text-align: left;
}

hr {
  border-color: grey;
  border-style: dotted none none;
  border-top-width: 5px;
  width: 15%;
}

/* CLASS SELECTORS */
/* Sections */
.container-fluid {
  padding: 5% 7%;
}

.colored-section1 {
  background-color: #c8e6f5;/* #9fd3c7; */
}

.colored-section2 {
  background-color: #ececec;
}

.bg {
  background-image: url("images/JamieSiteImages/IMG_2005CroppedBW.JPG");
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Navbar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
  color: #142d4c;
}

.nav-link {
  color: #142d4c;
}

.custom-toggler.navbar-toggler {
  border-color: #142d4c;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(20,45,76)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Title section */
.title-text {
  padding-bottom: 140px;
}

.handwriting-intro {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
}

/* About Me Section */
.helper {
  /* This aligns the image vertically */
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.img-fluid.about-me-img {
  max-width: 90%;
}

/* Treatment Section */
ul.treatments-list {
  columns: 3;
  column-gap: 60px;
}

.wrapper {
  text-align: center;
  position: relative;
}

.img-fluid.treatment-icon {
  max-width: 75%;
  margin-left: 40px;
}

.carousel {
  padding-top: 30px;
}

@media (max-width: 991px) {
  .carousel {
    padding-top: 10px;
    padding-left: 15%;
    padding-right: 15%;
  }

  ul.treatments-list {
    column-gap: 30px;
  }

  .img-fluid.treatment-icon {
    margin-left: auto;
  }
}

/* Offering Section */
.offering-box {
  text-align: center;
}

.pricing {
  padding-left: 40px;
}

@media (max-width: 767px) {
  .offering-box {
    padding-top: 5%;
  }

  .offering-list, .pricing {
    padding-left: 20%;
    padding-right: 20%;
  }
}

/* When and Where Section */
.open-hours {
  margin-top: 15px;
}

.open-hours:first-child {
  margin-top: 0;
}

.google-maps {
  position: relative;
  padding-bottom: 25%; // This is the aspect ratio
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Contact Me section */
.contact-container {
  padding-left: 25%;
  padding-right: 25%;
}

@media (max-width: 991px) {
  .contact-container {
    padding-left: 20%;
    padding-right: 20%;
  }
}

.contact-container label {
  padding-top: 10px;
}

.contact-container .btn {
  margin-top: 15px;
}

.text-align-center {
  text-align: center;
}

/* Footer */
.footer {
  width: 500px;
  margin: 0 auto;
}

.footer-text{
  text-align: center;
  margin-bottom: 0;
  font-size: 0.55rem;
}

.bold {
  font-weight: bold;
}
